body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
    color: white;
}

h1 {
    text-align: center;
    color: black;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
}

input {
    padding: 15px 10px;
    outline: none;
    width: 400px;

}

.listacontainer {
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
}

.boton-borrar {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    font-size: 1em;
}

.boton-borrar:hover {
    cursor: pointer;
    background-color: tomato;
}

.agregarBoton {
    padding: 5px 15px;
    border: none;
    color: white;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
}

.agregarBoton :hover {
    cursor: pointer;
    background-color: darkcyan;
}

.empty {
    color: darkslategrey;
}